body{
align-items: center;
justify-content: center;
min-height: 100vh;
background: white
}

.Wrapper{
font-size:12px
display:flex;
justify-content: center;
width:420px;
background:#b4d46a;
border-radius: 7px;
padding: 28px 28px 45px;
align-items: center;
}
.Wrapper header{
font-size:12-px;
font-weight: 500px;
text-align:center;
}
.Wrapper p{
font-size:28-px;
font-weight: 500px;
text-align:center;
}
.child{
display:flex;}
.middle{
background:white
display:flex
}
.middle h1{
  text-align: center;
  text-transform: uppercase;

}
.middle h4{
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;

}
.middle p{
  margin-left: 50px;
  margin-right: 50px;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}


