{% extends 'layouts.html'%}
{%block content%}
<div class = "middle">
    <h1>DevOps Project -Dictionary Website</h1>
    <br>
    <h4>About DevOps</h4>
    <p >DevOps is a set of practices that combines software development and IT operations. It aims to shorten the systems development life cycle and provide continuous delivery with high software quality. DevOps is an approach that promotes collaboration between software developers, quality assurance teams, and IT operations teams to streamline and automate the software delivery process.<br>&nbsp;&nbsp;&nbsp;&nbsp;
        The main goal of DevOps is to increase the speed of software delivery without sacrificing quality or reliability. By utilizing automation, continuous integration, and continuous delivery (CI/CD) tools, DevOps teams can create a culture of collaboration and communication that enables faster time-to-market and improved customer satisfaction.
       <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DevOps is also about breaking down the traditional barriers between development and operations teams, and fostering a culture of continuous improvement and learning. It is a cultural shift that requires teams to work together to optimize the entire software development lifecycle, from planning and development to deployment and monitoring.
</P>
    <img src="https://cdn.worldvectorlogo.com/logos/devops-2.svg">
    </div>
{% endblock content %}
